@model RotasParaOFuturo.Models.Parceiro


@{
    ViewData["Title"] = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-primary mb-4"><i class="bi bi-handshake"></i> Detalhes do Parceiro</h1>

<div class="container">
    <div class="row g-4">

        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title text-primary"><i class="bi bi-person-circle"></i> Nome</h5>
                    <p class="card-text">@Html.DisplayFor(model => model.Nome)</p>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title text-primary"><i class="bi bi-card-text"></i> Descrição</h5>
                    <p class="card-text">@Html.DisplayFor(model => model.Descricao)</p>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-4 text-end">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-success me-2">
            <i class="bi bi-pencil-square"></i> Editar
        </a>
        <a asp-action="Index" class="btn btn-danger">
            <i class="bi bi-arrow-left"></i> Voltar à Lista
        </a>
    </div>
</div>